recursive-include src *.rst
recursive-include src *.test
recursive-include src *.xml
recursive-include src *.rst
recursive-include src *.py
include *.txt
include *.rst
include TWISTED-LICENSE
exclude *.cfg
